:root,
:root .light {
    /* colours */
    --pink: #EC65AD;
    --blue: #65ADEC;
    --green: #ADEC65;
    /* --red: #EA5459; */
    /* --red: #AC151A; */
    --red: #A8281E;
    --light-red: #EE797D;
    --grey: #f5f5f5;
    --default-grey: #e9e9ed;
    --dark-grey: #999;
    --darker-grey: #585858;
    --black-translucent: #0003;
    /* Fonts */
    --main-font: 'Poppins', sans-serif;
    --accent-font: 'Nunito', sans-serif;
    /* Font sizes */
    --title-size: 2.625em;
    --title-m-size: 2em;
    --font-large: 1.75em;
    --font-normal: 1.5em;
    --font-small: 1.25em;
    --font-x-small: 1.125em;
    --font-size-default: 1em;
    /* Component colours */
    --background-color: #fff;
    --title-color: #fff;
    --font-color: #000;
    --font-color-alt: #1d1d1d;
    /* Component values */
    --radius: 5px;
    --radius-less: 2.5px;
    --box-shadow: 0 0.125em 0.25em var(--black-translucent);
    --top-bar-height: 4em;
    --bottom-bar-height: 7em;
    -webkit-tap-highlight-color: transparent;
}

/*
:root .dark{
    --pink: #E8479D;
    --blue: #479DE8;
    --green: #9DE847;
    --background-color: #404040;
    --grey: #212121;
    --font-color: #e5e5e5;
}

@media (prefers-color-scheme: dark){ 
    :root{
        --pink: #E8479D;
        --blue: #479DE8;
        --green: #9DE847;
        --background-color: #404040;
        --grey: #212121;
        --font-color: #e5e5e5;
    }
} 
*/

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-weight: 300;
}

a, p {
    font-size: var(--font-normal);
}

button {
    font-size: var(--font-small);
    align-items: center;
}
.button {
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: var(--font-size-default);
    color: var(--font-color);
    padding: 0.63em 1.56em;
    box-shadow: var(--box-shadow);
    text-decoration: none;
    text-align: center;
}

.button.small {
    padding: 0.5em 0.7em;
}

.no-shadow {
    box-shadow: none;
}

.card {
    padding: 1em;
    border-radius: var(--radius-less);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-green {
    background: var(--green);
}

.bg-red {
    background-color: var(--red);
}

.bg-light-red {
    background-color: var(--light-red);
}

.bg-grey {
    background: var(--grey);
}

.bg-default-grey {
    background: var(--default-grey);
}
.font-body {
    font-family: var(--accent-font);
}
.sm-font {
    font-size: var(--font-small);
}

mark {
    font-family: var(--accent-font);
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .hide-scrollbar::-webkit-scrollbar {
     display: none;
 }

 /* Hide scrollbar for IE, Edge and Firefox */
 .hide-scrollbar {
     -ms-overflow-style: none;
     /* IE and Edge */
     scrollbar-width: none;
     /* Firefox */
 }