:root {
    --pink: #EA54A4;
    /* --pink: #E8479D; */
    --blue: #54A4EA;
    /* --blue: #479DE8; */
    --green: #A4EA54;
    /* --green: #9DE847; */
    --red: #EA5459;
    --grey: #f5f5f5;
    --dark-grey: #999;
    --darker-grey: #585858;
    --black-translucent: #0003;
    --main-font: 'Poppins', sans-serif;
    --accent-font: 'Nunito', sans-serif;
    --title-size: 2.625em;
    --title-m-size: 2em;
    --font-large: 1.75em;
    --font-normal: 1.5em;
    --font-small: 1.25em;
    --font-x-small: 1.125em;
    --font-size-default: 1em;
    --title-color: #fff;
    --font-color: #000;
    --font-color-alt: #1d1d1d;
    --radius: 5px;
    --radius-less: 2.5px;
    --box-shadow: 0 0.125em 0.25em var(--black-translucent);
    --top-bar-height: 4em;
    --bottom-bar-height: 7em;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-weight: 300;
}

a, p {
    font-size: var(--font-normal);
}

button {
    font-size: var(--font-small);
    align-items: center;
}
.button {
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: var(--font-size-default);
    color: var(--font-color);
    padding: 0.63em 1.56em;
    box-shadow: var(--box-shadow);
}

.button-small {
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: var(--font-size-default);
    color: var(--font-color);
    padding: 0.5em 0.7em;
    box-shadow: none;
}

.pink {
    background-color: var(--pink);
}

.blue {
    background-color: var(--blue);
}

.green {
    background: var(--green);
}

.grey {
    background: var(--grey);
}

mark {
    font-family: var(--accent-font);
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .hide-scrollbar::-webkit-scrollbar {
     display: none;
 }

 /* Hide scrollbar for IE, Edge and Firefox */
 .hide-scrollbar {
     -ms-overflow-style: none;
     /* IE and Edge */
     scrollbar-width: none;
     /* Firefox */
 }